.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.product-item{
  padding: 5rem 3rem;
}

.left {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #f6f7f7e7;
  box-shadow: 1px 1px 6px 0px #fafafa;
}

.column1 {
  float: left;
  text-align: center;
  margin: 1rem;
}

.column2 {
  float: left;
  text-align: center;
  margin: 1rem;
}
.column3 {
  margin: 1rem;
  float: left;
  text-align: center;
}
.column4 {
  margin: 1rem;
  float: left;
  text-align: center;
}
.column5 {
  margin: 1rem;
  float: left;
  text-align: center;
}
.column6 {
  margin: 1rem;
  float: left;
  text-align: center;
}

.column7 {
  margin: 1rem;
  text-align: center;
  float: left;
}

.top {
  color: red;
  font-weight: bold;
  font-size: 0.6rem;
}

.column8 {
  margin: 0 auto;
}

.column8 input {
  margin: 1rem 2.7rem;
  align-items: center;
  justify-content: center;
  width: 20%;
  border: none;
  outline: none;
  display: none;
}

.column9 {
  width: 70px;
  height: 70px;
  float: right;
  display: none;
}

.column10 {
  width: 70px;
  height: 70px;
  float: right;
  display: none;
}

.column11 {
  width: 70px;
  height: 70px;
  float: right;
  display: none;
}
